<div class="container text-center">
  <div class="panel panel-success">
    <div class="panel-heading">Panel with panel-default class</div>
    <div class="panel-body">
      <%= render "form_add" %>
    </div>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
  </div>
</div>
<% if @file_informations.present? %>
  <%= render "result" %>
<% end %>
