<!DOCTYPE html>
<html>
  <head>
    <title>FindFileShare</title>
    <%= csrf_meta_tags %>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="12448024383-ebq94frerts9fd64sascbau3ro7mvo5p.apps.googleusercontent.com">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
